Flask
Flask-Login
Flask-Bcrypt
Flask-WTF
Flask-Babel
pymongo
pandas
openpyxl
python-dotenv
APScheduler
Jinja2
Werkzeug
MarkupSafe
itsdangerous
click
python-dateutil
pytz
six
numpy
xlrd
XlsxWriter
reportlab
requests
pytest
pytest-cov
